body {
  background-color: rgb(235, 223, 223);
}

#outgoing-title {
  font-family: "Roboto", sans-serif;
  color: rgb(226, 43, 98);

  font-size: 3.5vw;
}

/* day to day costs box */

#day-to-day-costs-box {
  background-color: white;
  height: 100%;
  border-style: solid;
  border-color: rgb(206, 202, 202);
  border-radius: 15px;
  border-width: thick;
  margin: 10px 0px;
  min-width: 290px;
}

#day-to-day-costs-header {
  font-family: 'Roboto', sans-serif;
  color: rgb(226, 43, 98);
  margin: 10px 0px 0px 10px;
}

.add-new-btn{
  color: rgb(226, 43, 98);
  background-color: white;
  border: 0 none;
  font-size: 2vw;
  margin: 0px 10px 0px 0px;
}

.div1 {
  background-color: red;
}

.div2 {
  background-color: green;
}

.div3 {
  background-color: yellow;
}

@media (max-width: 700px) {
  #outgoing-title {
    font-size: 4vw;
  }
}

@media (max-width: 450px) {
  #outgoing-title {
    font-size: 7vw;
  }
}
