* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
}

.div1 {
  background-color: red;
}

.div2 {
  background-color: green;
}

.div3 {
  background-color: yellow;
}




/* IncomeBox */


@media (max-width: 450px) {
  #app-title {
    font-size: 5vw;
  }

  #date-year {
    font-size: 3vw;
  }

  #profit-loss {
    font-size: 3vw;
  }

  i.fa-arrow-left,
  i.fa-arrow-right {
    font-size: inherit; /* Reset font size for small screens */
  }
}
