/* essentials box */

#essentials-box {
  background-color: white;
  height: 410px;
  border-style: solid;
  border-color: rgb(206, 202, 202);
  border-radius: 15px;
  border-width: thick;
  margin: 5px 0px;
  /* min-width: 290px; */
}

#essentials-items-box {
  max-height: 310px;
  overflow: scroll;
}

#essential-items-total {
  height: 57px;
}

#essentials-add-new {
  margin-left: 65px;
}

.savings-input {
  outline: none;
  border: none;
  margin: 6px 5px 0px 0px;
}

.savings-textarea {
  margin: 5px;
  border: none;
  resize: none;
  outline: none;
  min-height: 240px;
  
}

@media (max-width: 531px) {
  #essentials-box {
    height: 700px;
    overflow: scroll;
  }

  .responsive {
    display: block !important;
    text-align: start;
  }

  .item-label{
    width: 350px;
  }
  

  .savings-textarea {
    width: 450px;
    
  }


}
