* {
  padding: 0;
  margin: 0;
}

#income-box {
  background-color: blueviolet;
  border-radius: 13px;
  padding: 10px;
  margin: 10px;
}

#income-header {
  text-align: start;
  color: white;
  padding: 5px;
}
