h4 {
  margin: 0;
}

.app-title {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(226, 43, 98);
  font-weight: 400;
  font-size: 2.8vw;
}

#date-year {
  font-size: 1.5vw;
  color: rgb(226, 43, 98);
}

#profit-loss {
  font-size: 2vw;
  color: rgb(226, 43, 98);
}

#profit-loss-total {
  font-size: 1.5vw;
  overflow-x: scroll;
  max-width: 240px;
  padding: 0;
}

#total-pound {
  font-size: 1.5vw;
  color: rgb(226, 43, 98);
}

i.fa-arrow-left{
  margin-right: 40px;
}

i.fa-arrow-right{
  margin-left: 40px;
}

/* @media (min-width: 992px){
  .app-title{
  margin-right: 600px;
  }
} */

@media (max-width: 700px) {
  .app-title {
    font-size: 6vw;
  }

  #date-year {
    font-size: 3.5vw;
  }

  #profit-loss {
    font-size: 3.5vw;
  }

  #profit-loss-total {
    font-size: 3.5vw;
  }

  i.fa-arrow-left,
  i.fa-arrow-right {
    font-size: inherit; /* Reset font size for small screens */
  }
}

@media (max-width: 450px) {
  .app-title {
    font-size: 9vw;
  }

  #date-year {
    font-size: 6vw;
  }

  #profit-loss {
    font-size: 7vw;
  }

  #profit-loss-total {
    font-size: 4vw;
  }

  i.fa-arrow-left,
  i.fa-arrow-right {
    font-size: inherit; /* Reset font size for small screens */
  }
}
