
.income-input-box {
    padding: 5px;
    margin: 5px;
    border-radius: 13px;
    background-color: white;
    width: 180px;
  }
  
  .income-label {
    text-align: start;
    color:  rgb(226, 43, 98);
    font-weight: bold;
  }
  
  .input-input {
    outline: none;
    border: none;
      width:160px;
  
  }
  
  .input-pound {
    color:  rgb(226, 43, 98);
    font-size: 1.3vw;
    margin-bottom: 1px;
  }
  